.formF {
    border-radius: 10px; 
    border-style: solid; 
    border-color: rgb(226, 233, 238); 
    font-size: 20px; 
    padding-left: 32px; 
    padding-top: 20px; 
    padding-bottom: 20px;
    width: 400px;
}

.lines {
    display: flex; 
    justify-content: center;
}
.last {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-left: 170px; 
    margin-right: 170px; 
    margin-top: 100px; 
    height: 635px; 
}




.focus {
    background-color: #FFFFFF;
    margin-left: 170px;
    margin-right: 170px;
    height: 797px;
    border-radius: 14px;
}

.headl {
    font-weight: bold;
    font-size: 60px;
    margin-top: 71px;
}
.normall {
    font-size: 25px;
}
.text {
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    gap: 20px; 
    text-align: center;
}
.innerContent {
    display: flex;
    flex-direction: column;
    align-items: center; 
    gap: 20px;
}
.newBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.image {
    height: 365px;
    width: 840px;
    border-radius: 480px;
    margin-top: 30px;
}
.image img {
    border-radius: 48px;
}












.uniqueReviwes{
    width: 500px;
    height: 243px;
    border-radius: 14px;
    background-color: #fbfbfe;
    border: #f8f4f4;
    border-style: solid;
    border-width: 2px;
}
.content {
    gap: 50px;
    flex-direction: column;
    display: flex;
}
body {
    background-color: #f5f8ff;
}
.lastDiv {
    display: flex; 
    max-height: 46px;
    gap: 12px;
}
.info {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.name h3 {
    margin-bottom: 0px;
    font-size: 16px;
    color: rgb(123, 123, 123);
}
.date p {
    text-align: left;
    color: rgb(123, 123, 123);
}

.content .headings {
    text-align: center;
    
}



.userReview {
    margin-top: 200px;
}
.face img {
    margin-left: 24px;
    border-radius: 9999px;
}
.reviwes {
    display: flex;
    justify-content: center;
    gap: 20px;
}
.comments p {
    max-width: 318px;
    text-align: left;
    margin-left: 24px;
}

.stars{
    margin-left: 24px;
    margin-top: 24px;
}

.content {
    margin-top: 170px;
}

.conferrence {
    margin-top: 116px;
    display: flex;
    justify-content: space-between;
}
.headLine h1 {
    font-size: 38px;
    font-weight: bold;
    padding-top: 50px;
    padding-bottom: 0px;
    margin-bottom: 0px;
}
.numbers {
    margin-left: 200px;
    margin-right: 200px;
}
.headLine {
    text-align: center;
}
p {
    margin-top: 0px;
    text-align: center;
}
.sizeF {
    margin: 40px 0px 0px 0px;
}
.information {
    background-color: #e6e5ff;
    border-radius: 24px;
    margin-left: 170px; margin-right: 170px;
    margin-top: 116px;
    height: 340px; 
}
.header {
    background-image: url('Assets/Hero-bg.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 700px;
}
.createButton {
    background-color: #4E47FF;
    width: 195px;
    height: 48px;
    border-radius: 10px;
    border: solid;
    border-color: #655fff;
    color: white;
    transition: 100ms;
}
.createButton:hover {
    width: 200px;
    height: 53px;
    background-color: #44ced8;
}
.banner {
    max-width: 905px;
    margin: 158px auto;
    text-align: center;
}

.rale {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
}
.xtra {
    transition: 100ms;
}
.xtra:hover {
    height: 54px; width: 235px;
}
.allButtons {
    background-color: #4E47FF;
    color: #FFFFFF;
    font-weight: bold;
    height: 48px;
    width: 136px;
    border: none;
    padding-left: 36px;
    padding-right: 36px;
    margin-top: 12px;
    margin-bottom: 12px;
    border-radius: 12px;
    transition: 100ms;
}
.allButtons:hover {
    height: 53px;
    width: 138px;
    background-color: #87ccb5;
}
.inter-logo {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}
nav ul li {
    list-style: none;
}
nav ul li a {
    text-decoration: none;
}
nav {
    display: flex;
    justify-content: space-between;
    
    margin: 0px 150px 0px 150px;
    height: 150px;
}